@import "elements.less";
@screen-lg-min: 1200px;
@screen-md-min: 992px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-xs-max: 767px;

.bottomRight {
	position: fixed;
	bottom: 5px;
	right: 5px;
	text-align: right;
	p {
		margin: 0px;
	}
}

.btn {
	margin-top: 10px;
}

.item {
	img {
		width: 100%;
		margin-bottom: 10px;
	}
}

html {
	min-height: 100%;
}

body {
	height: 100%;
}

#header {
	h1 {
		text-align: right;
		position: relative;
		right: 0px;	
		font-weight: 300;
		font-size: 62px;
	}
	@media (max-width: @screen-xs-max) {
		h1 {
			text-align: left;
			right: none;
		}
	}
}

div#timeAndName {
	background-color: #1b4d41;
	.rounded(5px);
	padding: 20px 60px;
	p {
		color: #FFFFFF;
	}
	span.timeRemaining {
		vertical-align: sub;
	}
	label {
		color: #FFFFFF;
	}
	@media (max-width: @screen-xs-max) {
		padding: 10px;
		width: 260px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		p {
			height: 70px;
			font-weight: bold;
		}
		span.timeRemaining {
			font-size: 24px;
			position: absolute;
			top: 35px;
			margin-left: -14px;
			font-weight: normal;
		}
		span.timeRemainingLabel {
			font-size: 12px;
			position: absolute;
			top: 60px;
			font-weight: normal;
		}
		#hoursRemaining {
			left: 30%;
		}
		#minutesRemaining {
			left: 50%;
		}
		#secondsRemaining {
			left: 70%;
		}
		#hoursLabel {
			left: 61px;
		}
		#minutesLabel {
			left: 107px;
		}
		#secondsLabel {
			left: 159px;
		}
		.sentence {
			visibility: hidden;
		}
	}
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		position: relative;
		p {
			font-size: 24px;
			font-weight: 200;
			height: 90px;
		}
		span.timeRemaining {
			font-size: 32px;
			font-weight: 400;
			position: absolute;
			top: 50px;
			width: 66px;
			text-align: center;
		}
		span.timeRemainingLabel {
			position: absolute;
			top: 90px;
			font-size: 20px;
		}
		label {
			font-size: 24px;
			font-weight: 200;
		}
		input {
			font-size: 24px;
			height: 48px;
			width: 450px;
		}
		#hoursRemaining {
			left: 150px;
		}
		#minutesRemaining {
			left: 250px;
		}
		#secondsRemaining {
			left: 350px;
		}
		#hoursLabel {
			left: 158px;
		}
		#minutesLabel {
			left: 250px;
		}
		#secondsLabel {
			left: 348px;
		}
		.sentence {
			visibility: hidden;
		}
	}
	@media (min-width: @screen-md-min) {
		p {
			font-size: 22px;
			font-weight: 200;
		}
		span.timeRemaining {
			font-size: 36px;
			font-weight: 200;
			display: inline-block;
			width: 40px;
		}
		label {
			font-size: 22px;
			font-weight: 200;
		}
		input {
			font-size: 22px;
			margin-left: 10px;
			height: 48px;
			width: 430px;
		}
	}
	@media (min-width: @screen-lg-min) {
		p {
			font-size: 28px;
			font-weight: 200;
		}
		span.timeRemaining {
			font-size: 48px;
			font-weight: 200;
			width: 55px;
		}
		label {
			font-size: 28px;
			font-weight: 200;
		}
		input {
			font-size: 28px;
			margin-left: 20px;
			height: 60px;
			width: 550px;
		}
	}
}

div.item {
	margin: 20px 0px;
	overflow: hidden;
	h2 {
		margin-top: 0px;
		color: #431822;
		font-weight: 300;
		font-size: 20px;
	}
	img {
		height: 155px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	p {
		color: #3a3a3a;
	}
	p.donatedBy {
		font-style: italic;
		color: #919191;
	}
	p.currentBid {
		font-weight: bold;
	}
	div.description {
		margin-bottom: 10px;
	}
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		h2.row0 {
			height: 44px;
		}
		h2.row1 {
			height: 44px;
		}
		h2.row2 {
			height: 44px;
		}
		h2.row3 {
			height: 44px;
		}
		h2.row4 {
			height: 66px;
		}
		h2.row5 {
			height: 66px;
		}
		div.description {
			width: 161px;
		}
		div.description.row0 {
			height: 190px;
		}
		div.description.row1 {
			height: 190px;
		}
		div.description.row2 {
			height: 190px;
		}
		div.description.row3 {
			height: 190px;
		}
		div.description.row4 {
			height: 210px;
		}
		div.description.row5 {
			height: 190px;
		}
		p.currentBid {
			height: 60px;
		}
	}
	@media (min-width: @screen-md-min) {
		h2 {
			width: 223px;
		}
		h2.row0 {
			height: 22px;
		}
		h2.row1 {
			height: 22px;
		}
		h2.row2 {
			height: 22px;
		}
		h2.row3 {
			height: 22px;
		}
		h2.row4 {
			height: 44px;
		}
		h2.row5 {
			height: 44px;
		}
		p.currentBid {
			height: 40px;
		}
		div.description {
			width: 223px;
		}
		div.description.row0 {
			height: 150px;
		}
		div.description.row1 {
			height: 150px;
		}
		div.description.row2 {
			height: 150px;
		}
		div.description.row3 {
			height: 150px;
		}
		div.description.row4 {
			height: 150px;
		}
		div.description.row5 {
			height: 150px;
		}
	}
	@media (min-width: @screen-lg-min) {
		h2.row0 {
			height: 22px;
		}
		h2.row1 {
			height: 22px;
		}
		h2.row2 {
			height: 22px;
		}
		h2.row3 {
			height: 22px;
		}
		h2.row4 {
			height: 44px;
		}
		h2.row5 {
			height: 44px;
		}
		div.description {
			width: 277px;
		}
		div.description.row0 {
			height: 110px;
		}
		div.description.row1 {
			height: 110px;
		}
		div.description.row2 {
			height: 110px;
		}
		div.description.row3 {
			height: 110px;
		}
		div.description.row4 {
			height: 110px;
		}
		div.description.row5 {
			height: 110px;
		}
	}
}

div.isMobile {
	display: none;
}

div.isSelected {
	display: inline;
}

div.itemImage {
	height: 155px;
	background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

input.newBid {
	padding-left: 24px;
	height: 50px;
	font-size: 20px;
	background-color: #fafafa;
	margin-top: -30px;
}

span.currencySymbol {
	font-size: 20px;
	position: relative;
	left: 10px;
	top: 9px;
	color: #9c9c9c;
}

a.dismissError {
	padding-top: 10px;
	display: block;
	color: #757575;
}

button.submitBid {
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-weight: 300;
}

@bsElementHeight: 202px;
@bsElementWidth: 126px;

div.bigScreen {
	height: 630px;
	width: 1024px;
	margin: 45px auto;
}

div.bsElement {
	margin: 0px 8px 7px 8px;
	height: @bsElementHeight;
	display: inline-block;
	.rounded(10px);
	overflow: hidden;
}

div.bsTitle {
	width: (@bsElementWidth * 2) + 19;
	background-size: 271px 110px;
	h1 {
		font-size: 24px;
		font-weight: 300;
		float: left;
		position: relative;
		top: 110px;
	}
}

div.bsCountdown {
	width: (@bsElementWidth * 3) + 39;
	background-color: #431822;
	p {
		float: left;
		color: #FFFFFF;
		position: relative;
		top: 25px;
		left: 76px;
		font-size: 32px;
		font-weight: 200;
	}
	span.timeRemaining {
		font-size: 48px;
		position: absolute;
		top: 50px;
		font-weight: 400;
	}
	span.timeRemainingLabel {
		font-size: 24px;
		position: absolute;
		top: 115px;
		font-weight: 200;
	}
	#hoursRemaining {
		left: 5px;
	}
	#minutesRemaining {
		left: 105px;
	}
	#secondsRemaining {
		left: 205px;
	}
	#hoursLabel {
		left: -1px;
	}
	#minutesLabel {
		left: 92px;
	}
	#secondsLabel {
		left: 189px;
	}
	.sentence {
		visibility: hidden;
	}
}

div.bsItem {
	width: @bsElementWidth;
	background-color: #1e6353;
	position: relative;
	div.itemImage {
		height: 76px;
		background-position: center center;
	  background-repeat: no-repeat;
	  margin-bottom: 10px;
	}
	h2 {
		float: left;
		color: #ffffff;
		margin: 0px;
		font-weight: 200;
		font-size: 14px;
		text-align: center;
		padding: 0px 5px;
	}
	.bid {
		position: absolute;
		bottom: 20px;
		width: 100%;
		padding: 5px;
		font-size: 12px;
	}
	.bidder {
		position: absolute;
		bottom: 2px;
		width: 100%;
		padding: 5px;
		font-size: 12px;
	}
}