.bottomRight {
	position: fixed;
	bottom: 5px;
	right: 5px;
	text-align: right;
	p {
		margin: 0px;
	}
}

.btn {
	margin-top: 10px;
}

.item {
	img {
		width: 100%;
		margin-bottom: 10px;
	}
}

p.description {
	font-style: italic;
}